*{
    margin:0;
    font-family: 'Oswald',sans-serif;
}
body{
    background-color: rgba(236, 233, 233, 0.548);
}
.title{
    margin: 0 0 10px 0;
    font-size: 20px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    width: 100vhc;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
a{
    text-decoration: none;
    background-color: rgb(2, 2, 114);
    color: white;
    padding: 10px 30px;
    border-radius: 5px; 
    font-size: 12px;
    transition: all .2s ease-in-out;
}
a:hover{
    transform: scale(1.1);
}
span{
    font-size: 10px;
    color: darkgrey;
    margin: 10px 0 5px 0;
}
.container-form{
    margin: 0 25% 0 25%;
    background-color: white;
    padding: 5px 35px;
    border-bottom: 20px;
    box-shadow: 1px 1px 5px 0px gray;
    margin-bottom: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    margin-top: 10px;
}
.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: end;
    margin: 5px 0 5px 0;
}
#mounth,#day,#year,#gender{
    display: flex;
    width: 80px;
    text-align: center;
    font-size: 10px;
    border: 1px dashed gray;
    border-radius: 5px;
}
#gender{
    width: 100px;
    margin-bottom: 10px;
}
#mounth,#day,#year,#gender:hover{
    color: rgb(2, 2, 114);
}
input{
    margin-bottom: 5px;
    border:1px dashed gray;
    border-radius: 5px;
    color: rgb(70, 69, 69);
    font-weight: normal;
    font-size: 10px;
}
input,select:focus{
    outline: none;
}
input:hover,select:hover{
    background-color: rgb(241, 240, 240);
}
label{
    color: rgb(2, 2, 114);
    font-size: 10px;
}
.data{
    display: flex;
    flex-direction: row;
    width: 20px;
}
.buttons{
    display: flex;
    justify-content: center;
    border-top: 5px;
}
.btn-save{
    padding: 0 50px;
    background-color: rgb(3, 175, 3);
    border: 0;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    font-size: 12px;
    color: white;
}
.btn-save:hover{
    transform: scale(1.1);
    background-color:rgb(3, 148, 3);
}